.contact {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.contact a {
  text-decoration: none;
  color: inherit;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconContainer:hover {
  color: var(--light-primary);
}

.icon {
  font-size: 1.75rem;
}

.alt {
  font-size: 0.75rem;
}

@media screen and (max-width: 850px) {
  .contact {
    justify-content: space-evenly;
    gap: 0;
  }
}

/* @media screen and (max-width: 640px) {
  .contact {
    justify-content: space-evenly;
    gap: 0;
  }
} */
