.header {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}
.summary {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 2rem;
}

.summary h1 {
  font-size: 3rem;
  color: whitesmoke;
}

.summary h2 {
  font-size: x-large;
  font-weight: 500;
  color: whitesmoke;
}

.summary p {
  font-weight: 500;
}

.photo {
  border-radius: 50%;
  margin-bottom: 4rem;
  border: 3px solid var(--light-secondary);
  /* align-self: center; */
}

.photo:hover {
  border-color: var(--light-primary);
}
