.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}
.summary {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.summary h1 {
  font-size: 3rem;
  /* color: whitesmoke; */
}

.summary h2 {
  font-size: x-large;
  font-weight: 500;
  /* color: whitesmoke; */
}

.summary p {
  font-weight: 500;
}

.photo {
  border-radius: 50%;
  border: 3px solid var(--dark-secondary);
  /* align-self: center; */
}

.photo:hover {
  border-color: var(--light-primary);
}

@media screen and (max-width: 850px) {
  .header {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }
  .summary {
    align-items: center;
    margin-bottom: 0;
  }
  .summary p {
    text-align: center;
  }
  .photo {
    align-self: center;
    margin-bottom: 0;
  }
}

/* @media screen and (max-width: 640px) {
  
} {
  .header {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }
  .summary {
    align-items: center;
    margin-bottom: 0;
  }
  .summary p {
    text-align: center;
  }
  .photo {
    align-self: center;
    margin-bottom: 0;
  }
} */
