.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  padding: 0.75rem 10rem;
}

/* .nav a {
  text-decoration: none;
} */

.links {
  display: flex;
  gap: 1.5rem;
}

.active {
  font-weight: 600;
  color: var(--light-primary);
}

.resume {
  padding: 0.25rem 0.75rem;
  background-color: var(--dark-secondary);
  color: var(--light-primary);
  /* color: var(--light-secondary); */
  border-radius: 0.5rem;
  /* vertical-align: middle; */
}
