.projectSection > h3 {
  padding: 1.2rem 0;
  color: whitesmoke;
}
.projectsContainer {
  display: flex;
  gap: 1.5rem;
  padding: 1.25rem 1rem;
}

.projectsContainer:hover {
  background-color: var(--dark-secondary);
  border-radius: 12px;
}

.projectsContainer:hover h3 {
  color: var(--light-primary);
}

.projectsContainer h3 {
  font-size: medium;
}

.projectsContainer p {
  font-size: 0.85rem;
}

.image {
  border-radius: 8px;
  /* width: 175px;
    object-fit: contain; */
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.stacks {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.stacks p {
  font-size: 0.75rem;
  background-color: var(--dark-secondary);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .projectsContainer {
    flex-direction: column;
  }
  .image {
    align-self: center;
    /* width: 200px; */
  }
}
