.projectsContainer {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1.25rem 1rem;
  position: relative;
  align-items: flex-start;
  border: 2px solid transparent;
  border-radius: 12px;
}

.projectsContainer:hover {
  /* border-color: var(--light-primary); */
  background-color: var(--text-primary);
  box-shadow: var(--shadow-sm);
}

.projectsContainer:hover h3,
.git:hover {
  color: var(--light-primary);
}

.projectsContainer:hover .image {
  /* border-color: var(--light-primary); */
  scale: 1.05;
}

.projectsContainer h3 {
  font-size: medium;
}

.projectsContainer p {
  font-size: 0.85rem;
}

.image {
  border: 1px solid var(--dark-secondary);
  border-radius: 8px;
  width: 200px;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.git {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  font-size: 0.85rem;
  font-weight: 500;
  position: relative;
}

.links {
  display: block;
  position: absolute;
  inset: -1rem -1.5rem;
}

/* .stacks {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.stacks p {
  font-size: 0.75rem;
  background-color: var(--light-primary);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  text-align: center;
  text-wrap: nowrap;
  border: 1px solid transparent;
} */

/* .projectsContainer:hover .stacks p {
  background-color: transparent;
  color: var(--light-primary);
  border-color: var(--light-primary);
} */

@media screen and (max-width: 640px) {
  .projectsContainer {
    flex-direction: column;
  }
  .image {
    width: 100%;
    align-self: center;
  }
}
