.skillSection h3 {
  padding: 1.2rem 0;
  /* color: whitesmoke; */
}
.skillList {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  row-gap: 1rem;
  font-size: x-large;
}

.skillItem {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  background-color: var(--light-primary);
  /* color: var(--dark-secondary); */
  padding: 0.5rem 1.85rem;
  border: 2px solid var(--light-primary);
  border-radius: 8px;
}

.skillItem:hover {
  background-color: transparent;
  color: var(--light-primary);
}

@media screen and (max-width: 640px) {
  .skillList {
    grid-template-columns: 42.5vw 42.5vw;
    font-size: 20px;
  }

  .skillItem {
    padding: 0.5rem 1.25rem;
  }
}
